<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninng.qs.consumer.mapper.ITransactionalTest">

    <resultMap id="transactionalMap" type="com.ninng.qs.consumer.domain.TransactionalTest">
        <id property="id" column="id"/>
        <id property="value" column="value"/>
    </resultMap>

    <update id="update">
        update qs_comsumer.transactional_test
        set value = #{value}
        where id = #{id};
    </update>
</mapper>
